.profile-main {
    text-align: left;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    font-size: 1.4rem;

    h1 {
        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

    header {
        padding-block: 2rem;
        border-bottom: .5px solid rgba($color: #000000, $alpha: .2);
    }

    @media screen and (min-width: 900px){
        width: 80vw;
    }

}
.img-upload {
	width: 200px;
	height: 200px;
}
.picture-label {
    margin-bottom: 1.5rem;
}
input[type="file"] {
    position: absolute;
	opacity: 0; 
	width: 15rem;
	height: 15rem;
	cursor: pointer;
	z-index: 99999;
}
.profile-edit {
    position: relative;
    padding-block: 2rem;
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5px solid #000;
}

.input-field {
    color: #333;
    label {
        margin-bottom: 1rem;
    }

    input {
        padding: .5rem;
        outline: transparent;
    }

    .email-input {
        border: transparent;
        outline: transparent;
        background: transparent;
        color: rgba($color: #000000, $alpha: .4);
    }
}

.profile-assignee {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-assignee-icon {
    fill: rgba($color: #000000, $alpha: .4);
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba($color: #000000, $alpha: .4);
    border-radius: 50%;
    object-fit: cover;
}


