@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
// colors
$color-light-1: #E3E4F1;
$color-light-2: #FAFAFA;

$color-gray-1: #9495A5;

$color-dark-1: #000112;

$color-text: #494C6B;
$color-purple: #635FC7;

// general
$font-family: 'Josefin Sans', sans-serif;
$border: .5px solid $color-light-1;