@use '../abstracts/variables' as var;

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.header-issue {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    border-bottom: var.$border;

    h2 {
        color: var.$color-dark-1;
    }
}


